/* 隐藏 valine 的 powered by */
.vpower.txt-right {
  display: none;
}

/* 背景图片 */
.backgroundImages_c {
    background-image: url(/images/background.jpg);
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0.3;
    z-index: -9999;
}

/* 评论框美化 */
.vedit {
    min-height: 10rem;
    background-image: url(/images/valinebg.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255,255,255,0);
    resize: none;
    font-weight: bold;
    opacity: 0.75;
    color: black;
}


/* 博客显示的div */
article.post-block, div.comments.v {
    padding: 30px 30px 30px;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    background: rgba(255,255,255,0.46);
    border-radius: 5px;
}

div.comments.v {
    background: hsl(0deg 0% 100%);
}

.posts-expand .post-block:not(:first-child) {
    margin-top: 50px;
  }

div.post-eof {
    height: 0px;
}

.main-inner {
    width: 950px;
}

/* md的图片的动画 */
.post-body {
    overflow: hidden;
}

.post-body img {
    transition: all 0.6s;
    border-radius: 6px;
    display: block;
    cursor: pointer;
}

.post-body img:hover {
    border-radius: 0px;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

/* 标签页的样式 */
div.tag-cloud > div.tag-cloud-tags > a {
    margin-bottom: 15px;
}

/* 侧边栏 */
aside.sidebar.sidebar-active {
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    background: rgba(255,255,255,0.46);
}

/* 头像 */
.site-author-image {
    margin-top: 10px;
    border: none;
    box-shadow: 0 0 20px #999;
}
/* 名字 */
.site-author-name {
    color: black;
    font-size: 25px;
}

/*  */
.site-state-item a {
    color: black;
}

.site-state-item a:hover {
    color: #2196f3 !important;
}

/* 侧边栏按钮 */
.sidebar-toggle {
    top: 150px;
    left: 110px;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -o-transform: scale(5);
    opacity: 0.9;
    box-shadow: 0 0 0 0.1em rgb(0 0 0 / 10%) inset;
    border-radius: 100%;
    box-sizing: inherit;
    background: transparent;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.sidebar-toggle span {
    cursor: pointer;
}




/* markdown通用样式 */

/* 区块颜色 */
blockquote {
    border-left: 4px solid #428bca;
}

/* 加粗字体颜色 */
strong {
    color: #3a87ad;
}

.ptys {
    color: black;
}

/* a标签颜色 */
.post-body a {
    color: #1a95a5;
}

/* 自定义标题数字标签样式 */
sectionNumberC {
    display: inline-block;
    border-radius: 80% 100% 90% 20%;
    overflow-wrap: break-word;
    background-color:#777;
    color: #fff;
    min-width: 0.8em;
    padding: 0.3em 0.4em;
    margin: 2px 5px 2px 0px;
}

/* 自定义标题标签样式 */
hTtileC {
    color: #2aa198;
    border-bottom: 2.2px solid #8c8c8c;
    padding: 0 3% 5.1px 1%;
}
